#https://git-scm.com/docs/gitignore
**/.vagrant
**/packages
**/licenses
*.nupkg
*.exe
*.license.xml
# exclude the contents of the auto-install folder but include the readme
**/auto-install
!**/auto-install/readme.md
codealike.*